[submodule "bicDetectionSF"]
	path = bicDetectionSF
	url = https://github.com/mnadims/bicDetectionSF.git
[submodule "dwexpCodes"]
	path = dwexpCodes
	url = https://github.com/mnadims/dwexpCodes.git
[submodule "pubDemo"]
	path = pubDemo
	url = https://github.com/mnadims/pubDemo.git
[submodule "VisualizationJournal"]
	path = VisualizationJournal
	url = https://github.com/mnadims/VisualizationJournal.git
